@use "../abstracts/variables" as v;
.section{
  position: relative;
  top:1rem;
  left:0;
  width: 80vw;
  margin:50px auto auto auto;
  text-align: justify;
  &__list {
    margin: auto;
    column-gap: 20px;
    display: flex;
    flex-direction: row; 
  }
  & h1, h2{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
}
.list__item{
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}
.list__item--border{
  border:2px solid v.$first-color;
}
.list__item--border-r{
  border-radius: 20px;
 }
.img--center{
  margin: auto;
  display: block;
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
/**NO ES NECESARIO**/

}
@media screen and (max-width: 768px) and (min-width: 321px) {
  .section__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .list__item{
    width: 80vw;
  }
}
@media screen and (max-width: 320px) {
  .section__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .list__item{
    border:1px solid v.$first-color;
    padding: 15px;
    width: 70vw;
    margin-bottom: 15px;
  }
}